.sidebar {
  width: 90vw;
  height: 95vh;
  background: var(--vista-white);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  position: relative;
  padding: 4rem 2rem;
}
.closeBtn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--dark-grey);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.logo a {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.logoRobot {
  color: var(--bg-sand);
}

.logoText {
  margin-left: 1rem;
  font-size: 2rem;
  color: var(--black);
}

.navLinks a {
  padding: 2rem;
  font-size: 1.5rem;
  color: var(--black);
}

.link {
  display: flex;
  align-items: center;
}

.link:hover {
  padding-left: 1rem;
  transition: var(--transition);
  background: var(--bg-dark-sand);
  border-radius: var(--radius);
}

.linkLogo {
  margin-right: 1rem;
  color: var(--bg-sand);
}

@media (max-width: 400px) {
  .logoText,
  .navLinks a {
    font-size: 1.2rem;
  }
}
