.nav {
  background: transparent;
  width: 100%;
}

.navContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.logoLink {
  display: flex;
  align-items: center;
  margin-left: 5rem;
  font-weight: 500;
  cursor: pointer;
}

.logoRobot:hover {
  color: var(--cyan);
  transform: scale(1.5);
}

.logoText {
  margin-left: 1rem;
}
.logoText:hover {
  color: var(--cyan);
}

.navLinks {
  display: flex;
  align-items: center;
}

.githubLogo {
  padding-top: 00.25rem;
}

.navListLink:hover {
  color: var(--bg-moon);
}

.navListLink {
  padding: 2rem;
  cursor: pointer;
}

.mobileNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.darkMode {
  background: var(--bg-sand);
  color: var(--white);
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin-right: 0.75rem;
  border-radius: var(--radius);
}

.lightMode {
  background: var(--bg-dark-sand);
  color: var(--sun);
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin-right: 0.75rem;
  border-radius: var(--radius);
}

.darkMode:hover {
  background: var(--cyan);
}

.lightMode:hover {
  background: var(--cyan);
}

.navToggle {
  display: none;
}

@media (max-width: 900px) {
  .navContainer {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logoLink {
    margin-left: 1rem;
  }

  .navListLink {
    padding: 1rem;
  }
}

@media (max-width: 650px) {
  .navToggle {
    display: block;
    margin-top: 0.25rem;
    font-size: 1.5rem;
    margin-right: 2rem;
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }

  .navLinks {
    display: none;
  }
}
