/*
===============
Variables
===============
*/

:root {
  --bg-red: #f15d58;
  --bg-moon: #dcddcd;
  --bg-sand: #a68f58;
  --bg-dark-sand: #7c6a40;
  --dark-grey: #363635;
  --blue-gem: #2b1b96;
  --black: #000;
  --white: #fff;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --vista-white: #faf9f4;
}

/* Global styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  color: #000;
  background: #f15d58;
}
[data-theme="dark"],
[data-theme="dark"] body {
  color: #fff;
  background: #242423;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "GT Walsheim Pro", "Helvetica Neue", sans-serif;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}

p,
li,
a,
strong {
  letter-spacing: 0.6px;
  line-height: 1.5;
}
/* Main */

/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* sidebar */
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  transition: var(--transition);
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}
.sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}

/* @media */

@media (min-width: 1400px) {
  .container {
    max-width: 1250px;
  }
}

@media screen and (min-width: 650px) {
  .sidebar-wrapper {
    display: none;
  }
}
