/*
===============
Variables
===============
*/

:root {
  --bg-red: #f15d58;
  --bg-moon: #dcddcd;
  --bg-sand: #a68f58;
  --grey-dark: #363635;
  --black: #000;
  --white: #fff;
}

/* Main */

/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* @media */

@media (min-width: 1400px) {
  .container {
    max-width: 1250px;
  }
}
