.aboutSection {
  background: var(--bg-moon);
  margin-top: -5rem;
  padding: 5rem;
}

.aboutContainer {
  padding: 3rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: var(--black);
  text-align: center;
  font-size: 1.2rem;
  line-height: 3rem;
}

.aboutName {
  color: var(--cyan);
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  color: var(--black);
}

.infoText {
  width: 70%;
}
.infoAbout {
  font-size: 1.5rem;
  font-weight: 500;
}

.underline {
  border-top: 1px solid var(--dark-grey);
  width: 6.8rem;
  margin-top: 0.25rem;
  margin-bottom: 1.2rem;
  border-width: 0.25rem;
}

.infoText {
  font-size: 1.2rem;
  line-height: 2rem;
}

.infoImage {
  width: 10rem;
  margin-right: 5rem;
}

.infoImage img {
  border-radius: 40%;
}

.infoBtn {
  background: var(--cyan);
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 2rem auto;
  padding: 0.9rem;
  border: none;
  border-radius: 10px;
  color: var(--white);
  font-size: 1.1rem;
  width: 10rem;
  cursor: pointer;
}

.infoBtn:hover {
  background: var(--bg-dark-sand);
}

@media (min-width: 1400px) {
  .aboutContainer {
    max-width: 1250px;
  }
}

@media (max-width: 900px) {
  .infoImage {
    display: none;
  }

  .aboutSection {
    padding: 3rem 1rem;
  }

  .aboutContainer {
    width: 100%;
    font-size: 1rem;
    padding: 0;
  }

  .infoContainer {
    justify-content: center;
    padding: 2rem;
  }

  .infoText {
    width: 100%;
  }

  .infoAbout {
    font-size: 1.2rem;
  }

  .infoText {
    font-size: 1.1rem;
  }
}

@media (max-width: 400px) {
  .aboutContainer {
    font-size: 0.8rem;
  }

  .infoAbout {
    font-size: 1.1rem;
  }

  .infoText {
    font-size: 1rem;
  }
}
